1.Rails render collection

<!-- posts/index.html.erb -->
<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <%= format_content post.body %> <p>
  <%= link_to 'Email author', mail_to(post.user.email) %> </p>
<% end %>


-------------------------------------------------------------------

2. Usage of 'content_for' method

<html>
  <body>
    <ul class="nav">
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Maps", maps_url %></li>
      <%= yield :nav %>
    </ul>
    <div class="main">
      <%= yield %> </div>
  </body>
</html>
